<p id="notice"><%= notice %></p>

<h1>Swan</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spotifies.each do |spotify| %>
      <tr>
        <td><%= spotify.title %></td>
        <td><%= spotify.status %></td>
        <td><%= link_to 'Show', spotify %></td>
        <td><%= link_to 'Edit', edit_spotify_path(spotify) %></td>
        <td><%= link_to 'Destroy', spotify, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song Request', new_spotify_path %>
